target/



# Eclipse uncomment in future
#.classpath
#.project
#.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/

#compiled version
/out/
dataSource.csv
/src/main/resources/hibernate.cfg.xml