<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  
    <extension
          point="org.eclipse.ui.startup">
        <startup class="osr.core.InitClass"/>
    </extension>
    <extension
          id="org.amos.requirement"
          name="SPICE Traceability"
          point="org.eclipse.core.resources.markers">         
          <super type="org.eclipse.core.resources.textmarker"></super> 
          <attribute name="owner" />
    </extension>
    <extension
            point="org.eclipse.ui.editors.annotationTypes">
            <type markerType="org.amos.requirement"
                name="org.amos.requirement.annotationType">
            </type>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Spice Config Set"
            visible="true"
            id="SpiceTraceabilityConfiguration.actionSet">
         <menu
               label="Spice &amp;Traceability"
               id="spiceMenu">
            <separator
                  name="spiceGroup">
            </separator>
         </menu>
         <action
               label="&amp;Preferences"
               icon="icons/unnamed.gif"
               class="osr.core.SpiceTraceabilityConfiguration"
               tooltip="Preferences"
               menubarPath="spiceMenu/spiceGroup"
               toolbarPath="spiceGroup"
               id="osr.core.SpiceTraceabilityConfiguration">
         </action>         
      </actionSet>
   </extension>
   <extension
     point="org.eclipse.ui.editors.markerAnnotationSpecification" id="org.amos.requirement.marker.specification">
  <specification
        annotationType="org.amos.requirement.annotationType"
        colorPreferenceKey="clcolor"
        colorPreferenceValue="192,255,192"
        contributesToHeader="false"
        highlightPreferenceKey="highlight.background"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="SPICE Marker"
        icon="icons/unnamed.gif"
        overviewRulerPreferenceValue="true"
        overviewRulerPreferenceKey="clruler"
        presentationLayer="0"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
  </specification>
  </extension>
   <extension
         point="org.eclipse.ui.editors">
   </extension>
</plugin>
