<?xml version="1.0" encoding="UTF-8"?>
<!--
   This file is part of Req-Tracker.

   Copyright (C) 2015 Taleh Didover, Florian Gerdes, Dmitry Gorelenkov,
       Rajab Hassan Kaoneka, Katsiaryna Krauchanka, Tobias Polzer,
       Gayathery Sathya, Lukas Tajak

   Req-Tracker is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Req-Tracker is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with Req-Tracker.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://osr-amos.cs.fau.de:15432/amos-ss15-proj3</property>
        <property name="hibernate.default_schema">traceability</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
    </session-factory>

</hibernate-configuration>
